footer {
    position: fixed;
    font-family: "Lucida Console", sans-serif;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #e89e0b;
    color: black;
    text-align: center;
}
