<!DOCTYPE html>
<html lang="en">

<#assign title="Quiz Questions" />
<#include "../layout/head.ftl.html" />

<body>

<div id="wrapper">

    <#include "../navigation/navigation.ftl.html" />

    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Quiz Questions</h1>

                    <div class="row">
                        <a class="btn btn-success" href="/admin/questions/create">Create A New Question</a>
                    </div>

                    <div class="row">
                        <table class="table table-striped">
                            <thead>
                            <th>ID</th>
                            <th>Question Text</th>
                            <th>Potential Answers</th>
                            <th>Correct Answer</th>
                            <th>Country</th>
                            <th>Edit</th>
                            <th>Delete</th>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<#include "../layout/scripts.ftl.html" />

</body>

</html>
