<!DOCTYPE html>
<html lang="en">

<#assign title="Quiz Questions" />
<#include "../layout/head.ftl.html" />

<body>

<div id="wrapper">

    <#include "../navigation/navigation.ftl.html" />

    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Quiz Questions</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<#include "../layout/scripts.ftl.html" />

</body>

</html>
